html{
	height: 100%;
}

body{
	height: inherit;
	background-color: #fff;
}

.mui-content{
	background-color: #fff !important;
}
.banner{
	display: block;
}
.tab{
	display: flex;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 35px;
}

.tab dd{
	border-left: solid 1px #666666;
	margin-left: 0;
	height: 21px;
	width: 0;
}

.tab dt {
	color: #555555;
	flex-grow: 1;
	text-align: center;
	border-bottom: solid 2px #fff;
	padding-bottom: 10px;
}
.tab .active {
	border-bottom: solid 2px #0099FF;
}

.loginPanel, .registePanel {
	margin-left: 60px;
	margin-right: 60px;
}

.loginPanel [type="text"], .registePanel [type="text"] {
	font-size: 16px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px #999;
	margin-bottom: 10px;
	 border-radius: 0;
	 color: 555;
}

.loginPanel [type="password"], .registePanel [type="password"] {
	font-size: 16px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px #999;
	border-radius: 0;
}
input[type="button"] {
	width: 100%;
	background-color: #0099FF;
	border: none;
	color: #fff;
	line-height: 28px;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.loginPanel a {
	font-size: 15px;
	color: #999;
}
